* {
    font-family: "Azeret Mono", monospace;
    color: rgb(13, 19, 33);
}

.nav-main {
    display: flex;
    justify-content: space-between;
    margin: 48px 150px;
}

.nav-title {
    font-size: 28px;
    font-weight: 800;
    text-align: left;
}

.nav-btn {
    box-sizing: border-box;
    border: 1px solid rgb(13, 19, 33);
    border-radius: 8px;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    padding: 17px 24px;
}

.section-main {
    width: 1440px;
    height: 652px;
    background-image: url(../images/Hero-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.section-img {
    position: absolute;
    width: 240.28px;
    height: 240px;
    padding: 26px 600px 386px;
}

.section-cover {
    padding: 298px 221px 45px;
}

.section-title {
    font-size: 48px;
    font-weight: 800;
    text-align: center;
}

.section-description {
    font-size: 16px;
    font-weight: 400;
    text-align: center;
}

.section-btn {
    width: 247px;
    height: 65px;
    border-radius: 8px;
    background: rgb(13, 19, 33);
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    padding: 21px 24px 21px 24px;
    margin: auto 377px;
}